/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
*, *:after, *:before {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
}
/* LINK BUTTONS */
.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 2.7rem;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
.primary-btn { 
    border: 0;      
    background-color: #1193e7;          
}
.secundary-btn {  
    border: 1px solid white;
    background-color: transparent;   
}
.link-btn:focus {
    outline: none;
}
/* APPOINTMENT CONFIRMATION MODAL */
.appointment-confirmation-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;  
    z-index: 11; 
}
.appointment-confirmation-content {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    overflow: auto;
    background-color: white;
    -webkit-overflow-scrolling: touch;
} 
/* MODAL TRANSITION */
.ReactModal__Overlay {
    transform: scale(0);
    transition: transform 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    transform: scale(1);
}

.ReactModal__Overlay--before-close{
    transform: scale(0);
}

/* DISABLE ARROWS FROM INPUT TYPE NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
